<h1>Your cart</h1>

<div class="col s12 m8 offset-m2 16 offset-l3">
    <div class="card-panel grey lighten-2 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/vegitables/tomato.jpg" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <span>
                <h4>Your order: Tomato</h4>
            </span>
          </span>
        <button class="btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>

  
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-2 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/vegitables/bellpepper.jpg" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <span>
                <h4>Your order: Tomato</h4>
            </span>
          </span>
          
        <button class="btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>

  
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-2 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/vegitables/brinjal.jpg" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <span>
                <h4>Your order: Tomato</h4>
            </span>
          </span>
          
        <button class="btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>

  
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-2 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/vegitables/cabbage.jpg" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <span>
                <h4>Your order: Tomato</h4>
            </span>
          </span>
          
        <button class="btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>

  
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-2 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../../assets/vegitables/lemon.jpg" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            <span>
                <h4>Your order: Tomato</h4>
            </span>
          </span>
          
        <button class="btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>



  
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#modal1" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          


        

  