



 <div class="row">  


  <div class="col s11">

  <div class="row">

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img  class="activator" src="../../../assets/vegitables//poteto.jpg">
        </div>
        
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">vegitables</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
          
        </div>
      </div>
    </div>  




    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables//tomato.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Tomato</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
        
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables//kaliflower.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Kaliflower</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">

        </div>
        
      </div>
    </div>

  </div>

  <div class="row">
    

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables//mushroom.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Mushroom</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/bellpepper.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bell Pepper</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity"> 
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">

          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables//lettuse.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Lettuse</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">

        </div>
      </div>
    </div>


  </div>


  <div class="row">
    
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/beetroot.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Beetroot</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          

        </div>
      </div>
    </div>  

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/onion.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Onion</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/cabbage.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Cabbage</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    
    
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/bracooli.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Broccoli</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/brinjal.jpg ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Brinjal</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/carrot.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Carrot</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">

          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>  
    
  </div>
  </div>  

</div>





