
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'>



      

 <div class="row" >

  <div class="col s11">
  <div class="row" >
    <div class="col s4" >
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img  class="activator" src="../../../assets/fruties/apple.jpg">
        </div>
    
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Apple</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
        </div>
      </div>
    </div>  




    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/orange.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Orange</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
        </div>
      </div>
    </div>


    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/banana.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Banana</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/watermelon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Watermelon</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/vegitables/lemon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Lemon</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/avacado.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Avacado</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
          
        </div>
      </div>
    </div>


  </div>


  <div class="row">
    
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties//strawberries.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">strawberries</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          

        </div>
      </div>
    </div>  

    <div class="col s4" >
      <div class="card" >
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/graps.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Grapes</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/fruties/pinaple1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">pinaple</span>
          <input type="number" min=0 max=20 placeholder="Enter your size of Quantity">
          
          <input list="browsers" name="browser" placeholder="Enter your Quantity">
          <datalist id="browsers">
            <option value="250gm - RS 50">
            <option value="500gm - RS 100">
            <option value="1KG - RS 180">
          </datalist>
          <input type="submit" class="btn btn-info" value="Add To Cart">
          
        </div>
      </div>
    </div>

  </div>


  </div>  

</div>





